
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <h1>Dashboard Page</h1>
    </div>
</div>