@model bookstore.ViewModels.OrderViewModel
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ViewDetail</h2>

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="container-fluid  dashboard-content">
            <label>Name: </label>
            <p>@Model.</p>


        </div>
    </div>
</div>