@model bookstore.Models.Category
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form" }))
        {
            @Html.ValidationSummary();
            @Html.AntiForgeryToken();
            <div>
                <label>Category New Name</label>
                @Html.TextBoxFor(m => m.category_name, new { type = "text", @class = "form-control" })

            </div>



            <br />
            <button type="submit">Submit</button>
        }
    </div>
</div>