@model bookstore.Models.Author
@{
    ViewBag.Title = "CreateAuthor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        @using (Html.BeginForm("Create", "Author", FormMethod.Post, new { @class = "form" }))
        {
            @Html.ValidationSummary();
            @Html.AntiForgeryToken();
            <div>
                <lable>New Author</lable>
                @Html.TextBoxFor(m => m.author_name, new { type = "text", @class = "form-control" })

            </div>



            <br />
            <button type="submit">Submit</button>
        }
    </div>
</div>